*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-parameters {
  display: grid;
  justify-content: space-between;
}

.parameter {
  font-size: small;
  text-transform: uppercase;
  text-align: center;
  padding: 18px;
  width: 150px;
  display: flex;
  align-items: center ;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 4px;
}
span{
  font-size: 20px;
}
.serach input ,button{
  padding: 15px;
font-size:14px;

  border: none;
  background-color: rgba(162, 215, 255, 0.508);
}

#btn{border: 2px solid  #196d6d ;
  background: #ffffff;
  color: black;
  cursor: pointer
  ;
}

::placeholder,input{

font-size: 14px;

}
#btn:hover{


  color: #eee;
  background-color: #196d6d;
}

